@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

$cyan: hsl(179, 62%, 43%);
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);

$fontFamily: 'Karla', sans-serif;

$mobileWidth: 500px;
$tabletWidth: 900px;
$desktopWidth: 1200px;